<!DOCTYPE html>
<html>
<head>
    <title>Recent POST requests</title>
    <style type="text/css">
        table, th, td {
            border: 2px solid gray;
            border-collapse: collapse;
            padding: 15px;
        }
    </style>
</head>

<body>
    <h1>Recent POST requests</h1>

    {% for post in posts %}
    <p/>
    <div>
        <table>
            <tr>
                <th>Timestamp</th>
                <td>{{ post['timestamp'] }}
            </tr>
            <tr>
                <th>Content Type</th>
                <td>{{ post['content_type'] }}
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ post['body'] }}</td>
            </tr>
        </table>
    </div>
    {% endfor %}

</body>
</html>
